<ion-content class="ion-padding bg-gray-50">
  <div class="flex flex-col h-full max-w-3xl mx-auto">
    <div class="flex justify-between mt-4">      
      <div class="flex space-x-2">
        <ion-button color="primary" (click)="copyToClipboard()" class="capitalize font-normal">
          <ion-icon slot="start" name="copy-outline" class="mr-1"></ion-icon>
          Copy README
        </ion-button>
        
        <ion-button color="secondary" (click)="downloadReadme()" class="capitalize font-normal">
          <ion-icon slot="start" name="download-outline" class="mr-1"></ion-icon>
          Download README
        </ion-button>

        <ion-button color="medium" (click)="dismiss()" class="capitalize font-normal">
          Back To Edit
        </ion-button>
      </div>
    </div>

    <div class="bg-white p-4 rounded-lg mb-4 flex-grow overflow-auto border border-gray-200 shadow-sm">
      <pre class="whitespace-pre-wrap text-gray-800 font-mono text-sm">{{ generatedReadme }}</pre>
    </div>
  </div>
</ion-content>

<ion-toast
  [isOpen]="showToast"
  [message]="toastMessage"
  [duration]="2000"
  [position]="'bottom'"
  [cssClass]="'text-center py-2 rounded-lg max-w-xs mx-auto'"
  (didDismiss)="showToast = false">
</ion-toast>
